@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'IntegralCF';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/IntegralCF-Bold.otf');
  }

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/Poppins-Bold.ttf') format('truetype');
}